<div class="container">
    <div class="cls">

        <div (click)="m1(status1)"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>
        <div (click)="m2(status2)"><i class="fa fa-cubes" aria-hidden="true"></i></div>

    </div>
</div>


<!-- <div class="container">
<div class="row col-md-12 cls">
    
    <div class="col-md-6" (click) = "m1(status1)"><i class="fa fa-address-book" aria-hidden="true"></i></div>
    <div class="col-md-6" (click) = "m2(status2)"><i class="fa fa-address-book" aria-hidden="true"></i></div>
      
</div>
</div> -->


<!-- <ng-template #defaultTabButtons> <div>hello</div>
</ng-template>` -->